.modalWrapper
{   position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.5);
    z-index: 3;
}
.modalContent{
    border-radius: 20px;
    padding: 50px;
    position: relative;
    min-width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
    }
}
.modalContent p{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

}
.carouselWrapper{
    width: 90%;

}
.active{
    display: flex;
}
.priceAndBtn{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
@media (max-width: 510px) {
    .modalContent{
        h1{
            font-size: 16px;
        }
    }
    .priceAndBtn{
        flex-direction: column;
        margin-top: 10px;
    }
}