footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    max-width: 1120px;
    margin: 0 auto;
    height: 97px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}
.phoneWrapper,.adressWrapper,.contactsWrapper{
    display: flex;
    align-items: center;
    }
.phoneWrapper,.adressWrapper{
    column-gap: 4px;
    align-items: center;
}
.contactsWrapper{
    column-gap: 20px;
}
.phoneWrapper p{
    margin-bottom: 0rem;
}
@media (max-width: 601px) {
    .contactsWrapper{
        flex-direction: column;
        justify-content: center;
        row-gap: 2px;
        font-size: 12px;
    }

}
@media (max-width: 1100px){
    .contactsWrapper{
        font-size: 0.8rem;
    }

}
@media (max-width: 1000px){
    footer{
        justify-content: center;
    }

}